.splash {
	display: grid;
	place-items: center;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(135deg, var(--black) 50%, #000 100%);
	transition: opacity 0.6s ease;
	/* enables fade-out animation */
}

.splash.fade-out {
	opacity: 0;
}

.splash__logo {
	width: 100px;
	height: auto;
	/* keep aspect */
	user-select: none;
	pointer-events: none;
}